<main class="about">

  <h2 class="about__subheading">OUR CULTURE</h2>

  <p class="about__paragraph">
    No point lyin’ – we work hard. The good news is we play harder. When you join Caliber you will be part of a family that wants you to enjoy life. So come on, let’s go on a cruise, to dinner, parties, concerts, NBA and NFL games, paintballin’, streetballin’, and every other kind of ballin’ there is.
    <br>
    Seriously. It’s our treat.
  </p>

  <h2 class="about__subheading">WHAT TO EXPECT</h2>

  <p class="about__paragraph">
    Sales Representative will be dressed in appropriate attire.

    Representative will have a name badge with ID number.

    Rep will use official documents to explain features and pricing.

    Rep will enter or call in customer’s information into Ipad to check qualification for specific promotions.

    Customer can expect to provide, name, address, social, DOB, and a valid credit or debit card and email address.

    $1 will be put on card for qualification purposes only. It will be fully refunded within 72 hours.

    Customer must speak with a representative at Caliber call center to confirm order/installation information before a tech will be dispatched.

    Customer will receive email of order information within 24 hours.

    Customer will receive text with Caliber phone number within 24 hours.

    Customer will receive Smart Communications according to IHS standard processes about installation.
  </p>

  <h2 class="about__subheading">QUESTIONS?</h2>
  <!-- Call us at (801) 705-5353 -->

</main>
