<main class="about">

  <section class="about__section">
    <h2 class="about__subheading">OUR CULTURE</h2>
    <div class="about__paragraph">
      <p class="careers__line">
        No point lyin’ – we work <b>hard</b>. The good news is we play <b>harder</b>
      </p>
      <p class="careers__line">
        When you join <b>Caliber</b> you will be part of a family that wants you to enjoy life. So come on, let’s go on a cruise, to dinner, parties, concerts, NBA and NFL games, paintballin’, streetballin’, and every other kind of ballin’ there is
      </p>
      <p class="careers__line">
        Seriously. It’s <b>our</b> treat
      </p>
    </div>
  </section>

  <section class="about__section">
    <h2 class="about__subheading">WHAT TO EXPECT</h2>
    <ul class="about__items">
      <li class="about__item">
        Sales Representative will be dressed in <b>appropriate</b> attire
      </li>
      <li class="about__item">
        Representative will have a <b>name badge</b> with <b>ID number</b>
      </li>
      <li class="about__item">
        Rep will use <b>official</b> documents to explain features and pricing
      </li>
      <li class="about__item">
        Rep will enter or call in customer’s information into <b>iPad</b> to check qualification for specific promotions
      </li>
      <li class="about__item">
        <b>Customer</b> can expect to provide, name, address, social, DOB, and a valid credit or debit card and email address
      </li>
      <li class="about__item">
        $1 will be put on card for <b>qualification purposes</b> only. It will be fully refunded within 72 hours
      </li>
      <li class="about__item">
        Customer must speak with a representative at Caliber call center to confirm order/installation information <b>before</b> a tech will be dispatched
      </li>
      <li class="about__item">
        Customer will receive email of order information within 24 hours
      </li>
      <li class="about__item">
        Customer will receive text with <b>Caliber</b> phone number within 24 hours
      </li>
      <li class="about__item">
        Customer will receive <b>Smart Communications</b> according to IHS standard processes about installation
      </li>
    </ul>
  </section>

  <section class="about__section">
    <h2 class="about__subheading">QUESTIONS?</h2>
    Call us at (801) 705-5353
  </section>

</main>
