<nav class="nav-bar">
  <div class="nav-bar__logo">
    CALIBER
  </div>
  <ul class="nav-bar__items">
    <li class="nav-bar__item"
      routerLinkActive="nav-bar__item--selected">
      <a routerLink="/" class="nav-bar__link">Home</a>
    </li>
    <li class="nav-bar__item"
      routerLinkActive="nav-bar__item--selected">
      <a routerLink="/about" class="nav-bar__link">About</a>
    </li>
    <li class="nav-bar__item"
      routerLinkActive="nav-bar__item--selected">
      <a routerLink="/careers" class="nav-bar__link">Careers</a>
    </li>
  </ul>
</nav>
