<main class="careers">

  <section class="careers__section">
    <h2 class="careers__subheading">YOU</h2>
    <div class="careers__paragraph">
      <p class="careers__line">
        You are <b>talented</b> and <b>ambitious</b>
      </p>
      <p class="careers__line">
        You are <b>adventurous</b> and <b>fun</b>
      </p>
      <p class="careers__line">
        You have <b>big dreams</b> and you have every intention of turning those dreams into <b>reality</b>
      </p>
    </div>
  </section>

  <section class="careers__section">
    <h2 class="careers__subheading">US</h2>
    <div class="careers__paragraph">
      <p class="careers__line">
        We are <b>Caliber</b>, the official face-to-face selling arm of DISH Network
      </p>
    </div>
  </section>

  <section class="careers__section">
    <h2 class="careers__subheading  ">WHY?</h2>
    <div class="careers__paragraph">
      <p class="careers__line">
        An amazing <b>96%</b> of Americans pay for TV. DISH has the best product at the best price
      </p>
      <p class="careers__line">
        We simply connect people who want the <b>best TV experience</b> at the <b>best price</b> together with DISH
      </p>
      <p class="careers__line">
        Oh, and we have a ton of <b>fun</b> along the way
      </p>
      <br />
      <p class="careers__line">
        If working for a <b>Fortune 200</b> company and making what you’re really worth interest you, apply today and let’s get started
      </p>
    </div>
  </section>

  <section class="careers__section">
    <h2 class="careers__subheading careers__apply">APPLY NOW</h2>
    <section class="careers__form">
      <app-form></app-form>
    </section>
  </section>

</main>
