<main class="careers">

  <h2 class="careers__subheading">YOU</h2>
  <p class="careers__paragraph">
    You are talented and ambitious. You are adventurous and fun. You have big dreams and you have every intention of turning those dreams into reality.
  </p>

  <h2 class="careers__subheading">US</h2>
  <p class="careers__paragraph">
    We are Caliber, the official face-to-face selling arm of DISH Network.
  </p>

  <h2 class="careers__subheading">WHY?</h2>
  <p class="careers__paragraph">
    An amazing 96% of Americans pay for TV. DISH has the best product at the best price. We simply connect people who want the best TV experience at the best price together with DISH. Oh, and we have a ton of fun along the way. If working for a Fortune 200 company and making what you’re really worth interest you, apply today and let’s get started.
  </p>

  <h2 class="careers__heading">APPLY NOW</h2>
  <section class="careers__form">
    <app-form></app-form>
  </section>

</main>
