<footer class="footer">

  <div class="footer__logo">
    CALIBER SMART
  </div>

  <ul class="footer__links">
    <li class="footer__link">
      facebook
    </li>
    <li class="footer__link">
      vimeo
    </li>
    <li class="footer__link">
      linked in
    </li>
    <li class="footer__link">
      instagram
    </li>
  </ul>

  <div class="footer__pages">
    <p class="footer__page" [routerLink]>HOME</p>
    <p class="footer__page">ABOUT</p>
    <p class="footer__page">CAREERS</p>
    <p class="footer__page">PRIVACY POLICY</p>
  </div>

</footer>
