@import '~src/assets/scss/base/variables';

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1em 3em;
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $col-bkgd;
  color: white;

  &__logo {

  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 0;
    // justify-content: space-around;

    list-style: none;
  }

  &__social {

  }

  &__social-icon {
    margin: 0 1em;
    padding: 0.5em;

    background-color: rgba(255, 255, 255, 0);
    transform: scale(1);
    border-radius: 50%;

    transition: 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: $col-bkgd;

      transform: scale(1.1);
    }
  }

  &__social-link {

  }

  &__pages {
    padding: 0;

    list-style: none;
    text-align: left;
  }

  &__page {
    margin: 0 0.5em;
  }

  &__page-link {
    color: $col-text-secondary;
    text-decoration: none;

    transition: 0.15s ease-in-out;

    &:hover {
      color: $col-text-tertiary;
    }

    &--selected, &--selected:hover {
      user-select: none;
      cursor: default;
      color: $col-text-disabled;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    &__pages {
      text-align: center;
    }
  }
}
