<main class="landing">

  <h1 class="landing__heading">Caliber</h1>

  <!-- TODO: Trim/remove -->
  <p class="landing__paragraph">
    Caliber is the industry leader in direct to consumer sales. Our exclusive partnerships with DISH Network and Sprint, along with newly added BioGuard Pest Control, provide an amazing training ground for entrepreneurs and interns alike. If you have ever wondered if you were destined for more, or want to be compensated for what you’re worth, you’re in the right place at the right time. Let’s go.
  </p>

  <h2 class="landing__subheading">Join us</h2>

  <section class="landing__videos">
    <video class="landing__video"></video>
    <video class="landing__video"></video>
    <video class="landing__video"></video>
    <video class="landing__video"></video>
    <video class="landing__video"></video>
  </section>

</main>
