<main class="landing">

  <section class="landing__section">
    <h1 class="landing__heading">Caliber</h1>
    <!-- TODO: Trim/remove -->
    <div class="landing__paragraph">
      <p class="landing__line">
        <b>Caliber</b> is the industry leader in direct to consumer sales
      </p>
      <p class="landing__line">
      </p>
      <p class="landing__line">
        Our exclusive partnerships with <b>DISH Network</b> and <b>Sprint</b>, along with newly added <b>BioGuard Pest Control</b>, provide an amazing training ground for entrepreneurs and interns alike
      </p>
      <p class="landing__line">
        If you have ever wondered if you were destined for more, or want to be compensated for what you’re worth, you’re in the right place at the right time
      </p>
      <p class="landing__line">
        Let’s <b>go</b>
      </p>
    </div>
  </section>

  <section class="landing__section">
    <h2 class="landing__subheading">Join us</h2>
    <!-- <div class="landing__videos">
      <video class="landing__video"></video>
      <video class="landing__video"></video>
      <video class="landing__video"></video>
      <video class="landing__video"></video>
      <video class="landing__video"></video>
    </div> -->
  </section>

</main>
