@import '~src/assets/scss/base/variables';

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template:
  'section1 section1 section1 section1'
  'section2 section2 section2 section2'
  'section3 section3 section3 section3';

  &__section {
    padding: 6em 5em;

    &:nth-of-type(1) {
      grid-area: section1;

      background-color: $col-primary;
    }

    &:nth-of-type(2) {
      grid-area: section2;

      color: $col-text-secondary;
      background-color: $col-bkgd;
    }

    &:nth-of-type(3) {
      grid-area: section3;

      color: $col-text-secondary;
      background-color: $col-bkgd;
    }

    &:nth-of-type(4) {
      grid-area: apply;
    }
  }

  &__heading {
    font-size: 4em;
    margin-top: 0;
  }

  &__subheading {
    font-size: 3em;
    margin-top: 0;
  }

  &__paragraph {

  }

  &__videos {
    display: flex;
    flex-direction: column;
  }

  &__video {
    margin: 1em 0 1em -5em;

    width: 100vw;
    height: 15em;

    background-color: black;
  }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
